
# Compiled things #
###################
*.f
*.o
*.a
*.mod
*.swp
*.so
*.log
mpc
roms*
jobout
test_tiling
redefs
incl
lsb_string
checkkwds
cppcheck
srcscheck
Examples/*/Compile
Examples/*/*.nc
Examples/*/fort*
Work/Compile
