
# Compiled things #
###################
*.f
*.o
*.a
*.mod
*.swp
*.so
*.log
jobout
mpc
roms*
jobout
test_tiling
redefs
incl
lsb_string
checkkwds
cppcheck
srcscheck
Examples/*/Compile
Examples/*/*.nc
Examples/*/fort*
Work/
setup_kwds.F
roms*
Examples/*/Compile
check_switches1.F
