
# Compiled things #
###################
*.f
*.o
*.a
*.mod
*.swp
*.so
jobout
mpc
roms
roms-*
test_tiling
redefs
incl
lsb_string
checkkwds
cppcheck
srcscheck
Examples/*/Compile
Examples/*/*.nc
Examples/*/fort*
setup_kwds.F
check_switches1.F
check_srcs.F
Work/*

# tools
Tools-Roms/partit
Tools-Roms/ncjoin
Tools-Roms/ncjoin_mpi
Tools-Roms/join_child_bry
Tools-Roms/zslice

# For Examples/code_check/:
sample_wec_test_old.log
river_ana_test_old.log
code_check.log
wec_netcdf_test_old.log

# DevinD related ignores:
.settings
.project
.cproject
